@import url("./_animations.scss");
@import url("./_variables.scss");
@import url("./_mixins.scss");
@import '~vue-multiselect/dist/vue-multiselect.min.css';

body {
    margin: 0;
    padding: 0;
    background: $background-color;
}